/* ===== HOME SECTION ===== */
html, body {
  overflow-x: hidden;
  
}

.home {
  overflow-x: hidden;
}

.header__container {
  max-width: 100%;
  overflow: hidden;
}

.header__image img {
  max-width: 100%;
  height: auto;
}


.home {
  width: 100%;
  height: calc(100vh - 18px);   /* prend toute la hauteur disponible (moins le header si tu en as un) */
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;             /* IMPORTANT : bloque tout scroll */
    background: linear-gradient(
      rgba(0, 0, 0, 0.171),
      rgba(0, 0, 0, 0.171)
    ),
    url("img/.jpg") center/cover no-repeat;
}



/* container */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 100%;
  height: 100%;                 /* empêche le débordement */
}

/* text */
h1{
    color: #BF124D;
    font-size: 45px;
  text-shadow: 
    0 0 5px #87BAC3,
    0 0 10px #87BAC3,
    0 0 20px #87BAC3,
    0 0 40px #87BAC3; /* effet de glow */
}
.header__content {
  font-weight: bold;
  line-height: 1.2;
  animation: fadeIn 1s ease forwards;
}

/* image */
.header__image img {
  width: 800px;                 /* légèrement réduit pour éviter débordement */
  max-width: 100%;
  max-height: 80%;              /* empêche que l’image dépasse */
  object-fit: contain;
  animation: float 3s ease-in-out infinite;
}

/* animation image */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

/* animation text */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .header__container {
    flex-direction: column;
    text-align: center;
  }

  .header__content h1 {
    font-size: 32px;
  }

  .header__image img {
    width: 300px;
    max-height: 50%;
  }
}

